# NEST Lab LLM API
LAB_LLM_API_KEY=<your_lab_llm_api_key_here>
LAB_LLM_BASE_URL=https://llm-api.nestlab.sg/v1

# Choose model:
# qwen3.8-27b
# muse-glimmer-30b
LAB_LLM_MODEL=muse-glimmer-30b

GITHUB_TOKEN=<your_github_token_here>

HF_TOKEN=<your_hf_token_here>