OPENAI_API_KEY=sk-Ho3zRwRkJeQlIZLMZoZnaA
OPENAI_BASE_URL=https://llm-api.nestlab.sg/v1
OPENAI_MODEL=qwen3.8-27b

# NEST Lab LLM API
LAB_LLM_API_KEY=<your_api_key_here>
LAB_LLM_BASE_URL=<nestlab_api_base_url_here>

# Choose model:
# qwen3.8-27b
# muse-glimmer-30b
LAB_LLM_MODEL=qwen3.8-27b